.petsContainer{
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding: 2%;
}

.filterSection{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 1%;
    width: 25%;
    height: fit-content;
}

.petsListSection{
    width: 72%;
}

.hr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.258);
}

.filter-item {
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.filter-item>p {
    font-size: 20px;
    text-align: center;
}

.filter-item>button{
    background-color: rgba(98, 204, 56, 0.283);
    width: 80%;
    border-radius: 8px;
    padding: 2% 0;
}

.filter-in>label>input {
    margin-left: 10%;
    margin-right: 5%;
}