/* #checkout-component {
    margin: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.5px;
    color: black;
    outline: none;
    box-sizing: border-box;
  
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
  }
  
 #checkout-component #orderSummary {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 600px;
    height: 580px;
    min-width: 33%;
    border-radius: 10px;
    background-color: white;
    line-height: 40px;
    padding: 20px;
  }
  
  #orderSummary p,
  h2 {
    font-size: 18px;
  }
  
  #orderSummary > h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  #orderSummary .price-details {
    display: flex;
    justify-content: space-between;
  }
  
  #orderSummary > hr {
    margin: 5px 0;
  }
  
  .green {
    color: green;
  }
  
  .gray {
    color: rgb(110, 110, 110);
  }
  
  #submit-form {
    margin-top: 15px;
    padding: 2px;
     background: hsl(349,100%,61%);
  
    border-radius: 10px;
    width: 555px;
    color: white;
  }
  #submit-form:hover {
    background: linear-gradient(
      135deg,
      hsl(349, 89%, 55%,1) 70%,
      hsl(349, 88%, 67%) 92%
    );
  
      letter-spacing: 2px;
  }
  
  @media only screen and (max-width: 800px) {
    .wrapper {
      padding: 10px;
    }
    #submit-form{
      width: 100%;
    }
  
    #main {
      flex-direction: column-reverse;
    }
  
    #header {
      padding-top: 10px;
      height: 220px;
      flex-direction: column;
    }
  
    #processing {
      top: 65%;
    }
  
    .singleRow {
      flex-direction: column;
    }
  
    #checkout-component #orderSummary {
      margin-bottom: 30px;
      width: 100%;
    }
  }
  
  
  @media only screen and (max-width: 420px) {
  
    #checkout-component #orderSummary {
      width: 100%;
      height: 100%;
    }
  }
   */

  /* *{
  font-family: "Playfair Display", serif;
  } */


  /* navbar css */

  .navbar{
  width: 100%;
  height:50px;
  position: sticky;
  backdrop-filter:10px;
  background-color: aliceblue;

  top:0px;
  z-index:1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  }

  .navbar-inner{
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 50px;
  width:90%;

  /* z-index:3; */

  }


  .hamburger-menu{
  display: none;
  cursor:pointer;
  margin-left: 15px;

  }
  .bar{
  display: block;
  width:25px;
  height:3px;
  margin:5px;
  transition: all 0.3s ease;
  background-color: black;
  }

  .nav-link{
  text-decoration-line: none;
  font-family:  'Trebuchet MS', sans-serif;
  font-weight:bolder;

  padding-bottom: 3px;
  border-bottom: 1px solid ;
  }
  .navbar-inner :hover{
  border-bottom: 2px solid #63E6BE;

  }
  @media screen and (max-width:784px){
  .navbar{
    display: flex;
    justify-content: space-between;
    
  }

  .hamburger-menu{
    
    z-index: 4;
      display:block;
      
  }
    .hamburger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger-menu.active .bar:nth-child(1) {
      
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-inner {
      position:fixed;
      flex-direction: column;
      top: -400px;
      height: 350px;
      width: 100vw;
      z-index:3;
      background-color: aliceblue;
    }
    .navbar-inner.active {
      top:0px;
    }

  }


  @media screen and (max-width: 700px) {

  .m-Box{

    display: grid;
    grid-template-columns: repeat(2,1fr);


  }

  .boxes{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  margin-left: 80px;

  }
  }


