.main-conation007{
    /* border: 2px solid red;
     */
     background-color: rgb(208,219,231);
}

.main-card{
    background: linear-gradient(135deg, hsl(210, 40%, 57% ) 9%,  hsl(211,31%,27%,1)82%);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */

}



.main-button{
    background:rgb(31,41,55);

}
.main-button:hover{
    background: hsl(210, 40%, 57% );

}
